{% extends "base.html" %}
{% block title %}
    {{ block.super }} – главная
{% endblock %}
{% block content %}
    <h1>Последние вопросы</h1>
    {% for q in questions %}
        <p><a href="question/{{q.id}}/">{{q.title}}</a></p>
    {% endfor %}
    <nav><ul class="pagination">  
    {% for p in paginator.page_range %}  
        {% if p == page.number %} <li class="active">  
        {% else %} <li>  
        {% endif %}  
            <a href="{{ paginator.baseurl }}{{ p }}">  
                {{ p }}</a>  
        </li>  
    {% endfor %} 
    </ul></nav>
{% endblock %}



